<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="container">
            <img class="imagem" src="/img/tituloUniconect.png" alt="tituloUniconect">
            <img class="imagem2" src="/img/Captura%20de%20tela%202023-11-14%20125551.png" alt="logo">
    </header>
    <main class="maincontainer">
        <a href="http://localhost:8080/projeto/cadastro">
        <div class="anuncieseuprojeto"> 
            <img src="/img/anuncie.jpg" alt="imagem uniao">
            <h1>Anuncie<br>seu Projeto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor rerum commodi placeat totam? Amet quo dignissimos ab nam, quam recusandae fugiat illum tempore? Veritatis a ut omnis ex quam!</p>
        </div>
        </a>
        <a href="http://localhost:8080/home/projetos">
            <div class="projetosdisponiveis">
                <img src="/img/foto%20voluntarios.jpg" alt="imagem voluntarios">
                <h1>Projetos<br>Disponíveis</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor rerum commodi placeat totam? Amet quo dignissimos ab nam, quam recusandae fugiat illum tempore? Veritatis a ut omnis ex quam!</p>
            </div>
        </a>
        <a href="http://localhost:8080/home/atendimento-ao-publico">
        <div class="atendimentoaopulbico"> 
            <img src="/img/atendimentosocial.jpg" alt="imagem atendimento">
            <h1>Atendimento<br>ao Púlbico</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor rerum commodi placeat totam? Amet quo dignissimos ab nam, quam recusandae fugiat illum tempore? Veritatis a ut omnis ex quam!</p>
        </div>
        </a>
    </main>
    <div class="containerend">
            <a href="http://localhost:8080/sobre"><img class="botaovoltar" src="/img/botao%20voltlar.png" alt=""></a>
    </div>
</body>
</html>