<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscreva-se</title>
   <link rel="stylesheet" href="\css\cadastro.css">
</head>
<body>
    <header>
        
    </header>
    <main class="maincontainer">
        <div class="quadrado">
            <div class="titulo">
                <h1>Uniconect</h1>
                <img id="imagemlogo" src="/static/img/Adenprojetos.png" alt="">
            </div>
            <div class="input">
            <div class="nomecompleto">
                <input type="text" placeholder="Nome Completo">
            </div>
            <div class="nomedeusuario">
                <input type="text" placeholder="Nome de Usuário">
            </div>
            <div class="idade">
                <input type="text" placeholder="Idade">
            </div>
            <div class="email">
                <input type="email" placeholder="Email">
            </div>
            <div class="senha">
                <input type="password" placeholder="Senha">
            </div>
        </div>
            <a href="http://localhost:8080/auth/login">
                <div class="inscrevase">
                    <p class="p">Inscreva-se</p>
                </div>
            </a>
        </div>
    </main>
    <footer>
        <div class="faleconosco">
            <p id="titulo">Fale Conosco</p>
            <div class="meios de contatato">
                    <div class="canais"><img class="imagefooter" src="/img/whatsapp.png" alt="">Whatsapp</div>
                    <div class="canais"><img class="imagefooter" src="/img/gmail.png" alt="">Gmail</div>
                    <div class="canais"><img class="imagefooter" src="/img/insta%20logo%20branca.png" alt="">Instagram</div>
            </div>
        </div>
        <div class="patrocinadores">
            <p id="título">Patrocínios</p>
            <div class="logos">
                <img src="/img/logoazul.png" alt="">
                <img src="/img/itaulogo.png" alt="">
                <img src="/img/petrobras9773.jpg" alt="">
                <img src="/img/Puma-logo.png%20(1).png" alt="">
            </div>
        </div>
        <div class="producedby">
            <div class="txt">
                <div>Produced by</div>
                @Uniconect
            </div>
            <img src="/img/Captura%20de%20tela%202023-11-14%20125551.png" alt="">
        </div>
     </footer>
</body>
</html>