<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
    <link rel="stylesheet" href="/css/projetos.css">
</head>
<body>
    <header>
        <div class="titulo">
            <img src="/img/Captura%20de%20tela%202023-11-14%20125551.png" alt="logo Uniconect">
            <a href="http://localhost:8080/home/">
                <h1>Uniconect</h1>
            </a>
        </div>
        <div class="menu">
            <a href="http://localhost:8080/home">
                <h2>Página Inicial</h2>
            </a>
            <a href="http://localhost:8080/auth/login">
                <h2>Log In</h2>
            </a>
            <a href="http://localhost:8080/sobre">
                <h2>Quem Somos?</h2>
            </a>
        </div>
    </header>
    <main class="maincontainer">
     <div class="parte1">
        <div class="container">
                <img class="/img/movemundo.png" alt="move mundo logo" height="120px">
                <h2>Projeto Move Mundo</h2>
                <div class="butaosaibamais">Saiba Mais</div>
            
        </div>
        <div class="container">
                 <img class="imagemsection" src="/img/cidadaniajovem.png" alt="cidadania jovem logo" height="100px">
                 <h2>Projeto Cidadania Jovem</h2>
                 <div class="butaosaibamais">Saiba Mais</div>
        </div>
        <div class="container">
            <img class="imagemsection" src="/img/amoreesperança.png" alt="amor e esperança logo" height="85px">
            <h2>Projeto Amor e Esperança</h2>
            <div class="butaosaibamais">Saiba Mais</div>
        </div>
        <div class="container">
            <img class="imagemsection" src="/img/vale%20uma%20vida.png" alt="vale uma vida logo" height="85px">
            <h2>Projeto Vale uma Vida</h2>
            <div class="butaosaibamais">Saiba Mais</div>
        </div>
     </div>
     <div class="parte2">
        <div class="container">
            <img class="imagemsection" src="/img/incubadora.png" alt=" incubadora logo" height="85px">
            <h2>Projeto Incubadora UFPA</h2>
            <div class="butaosaibamais">Saiba Mais</div>
        </div>
        <div class="container">
            <img class="imagemsection" src="/img/ammigosdacomunidade.png" alt=" amigos da comunidade logo" height="85px">
            <h2>Projeto Amigos da Comunidade</h2>
            <div class="butaosaibamais">Saiba Mais</div>
        </div>
        <div class="container">
            <img class="imagemsection" src="/img/projetobeijaflor.png" alt=" beija flor logo" height="85px">
            <h2>Projeto Beija-Flor</h2>
            <div class="butaosaibamais">Saiba Mais</div>
        </div>
        <div class="container">
            <img class="imagemsection" src="/img/providencia.png" alt=" beija flor logo" height="85px">
            <h2>Projeto Providência</h2>
            <div class="butaosaibamais">Saiba Mais</div>
        </div>
     </div>
    </main>
    <footer>
        <div class="faleconosco">
            <p id="titulo">FALE CONSOCO</p>
            <div class="meios de contatato">
                    <div class="canais"><img class="imagefooter" src="/img/whatsapp.png" alt="">Whatsapp</div>
                    <div class="canais"><img class="imagefooter" src="/img/gmail.png" alt="">Gmail</div>
                    <div class="canais"><img class="imagefooter" src="/img/insta%20logo%20branca.png" alt="">Instagram</div>
            </div>
        </div>
        <div class="patrocinadores">
            <p id="título">Patrocínios</p>
            <div class="logos">
                <img src="/img/logo-bradesco-vermelho.png" alt="">
                <img src="/img/itaulogo.png" alt="">
                <img src="/img/petrobras9773.jpg" alt="">
                <img src="/img/Puma-logo.png%20(1).png" alt="">
            </div>
        </div>
        <div class="producedby">
            <div class="txt">
                <div>Produced by</div>
                @Uniconect
            </div>
            <img src="/img/Captura%20de%20tela%202023-11-14%20125551.png" alt="">
        </div>
     </footer>
</body>
</html>