<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/sobre.css">
</head>
<body>
    <header >
        <h1>UNICONECT</h1> 
        <img id="logo" src="/img/Captura%20de%20tela%202023-11-14%20125551.png" alt="logo">
    </header>
    <div class="container">
        <h2>Quem<br>Somos?</h2>
        <article class="txtinicial">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam blanditiis inventore deserunt corrupti eius asperiores quam sint delectus maiores officiis. Dolor at dolore incidunt, aspernatur fugiat repudiandae odit voluptatem?Lorem ipsum dolor sit amet consectetur adipisicing elit, amet consectetur adipisicing elit.  
        </article>          
            <a href="http://localhost:8080/home"><div class="button">Saiba Mais</div></a>
            <img class="imagemprincipal" src="/img/family.png" alt="">
    </div>
</body>
</html>